<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Timeliness</title>
  {{> common/head}}
</head>

<body>
  <header class="app-bar">
    <h1 class="app-bar-title">Timely</h1>
    <div class="app-bar-spacer"></div>
    <form method="post" action="/logout">
      <!-- <input type="hidden" value="delete" name="_method"> -->
      <input type="hidden" name="{{ _csrf.parameterName }}" value="{{ _csrf.token }}">
      <button class="button">Sign out</button>
    </form>
  </header>
  <nav class="tabs">
    <ul class="tabs-list">
      <li class="tabs-item"><a href="/">Today's Work</a></li>
      <li class="tabs-item tabs-item-selected"><a href="/clients">Clients</a></li>
      <li class="tabs-item"><a href="/report">Report</a></li>
    </ul>
  </nav>
  <main>
    {{> clients/list}}
    <div class="main-detail">
      <div class="main-detail-headline">
        <div class="main-detail-headline-actions">
          <a href="/clients"><i class="material-icons">arrow_back</i></a>
          {{#client.id}}
            <div class="app-bar-spacer"></div>
            {{#client.isActive}}
              <form method="post" action="/clients/deactivations">
                <input type="hidden" name="id" value="{{ id }}">
                <input type="hidden" name="{{ _csrf.parameterName }}" value="{{ _csrf.token }}">
                <button class="button-icon"><i class="material-icons">remove_circle</i></button>
              </form>
            {{/client.isActive}}
            {{^client.isActive}}
              <form method="post" action="/clients/activations">
                <input type="hidden" name="id" value="{{ id }}">
                <input type="hidden" name="{{ _csrf.parameterName }}" value="{{ _csrf.token }}">
                <button class="button-icon"><i class="material-icons">check_circle</i></button>
              </form>
            {{/client.isActive}}
          {{/client.id}}          
        </div>
        {{#client.id}}
        <h1 class="main-detail-headline-text">Edit {{ client.name }}</h1>
        {{/client.id}}
        {{^client.id}}
        <h1 class="main-detail-headline-text">Create a client</h1>
        {{/client.id}}
      </div>
      <div class="main-detail-content">
        <div class="form-errors">{{ errors }}</div>
        <form method="post" action="/clients{{#client.id}}/{{ client.id }}{{/client.id}}">
          <input type="hidden" name="{{ _csrf.parameterName }}" value="{{ _csrf.token }}">
          {{#client.id}}
            <input type="hidden" name="_method" value="put">
          {{/client.id}}
          <label class="text-input">
            <span>Client name</span>
            <input autofocus type="text" name="name" value="{{ client.name }}">
          </label>
        </form>
      </div>
     </div>
  </main>
  <script src="/js/angular-1.6.4.min.js"></script>
  <script src="/js/angular-resource-1.6.4.min.js"></script>
  <script src="/js/angular-ui-router-1.0.3.min.js"></script>
</body>

</html>
